<style>
html,body {
    padding:0;
    margin:0;
    height:100%;
}
#salesmeet-div-analytics {
    height: 97%;
    width: 80%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    display: none;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 3%;
    background-color: #fff;
    overflow: scroll;
}
.salesmeet-menu-voci {
    padding-right: 10px;
    float: left;
}
.salesmeet-contenuto {
    padding: 10px;
}
/*
input[type="submit"], button, .button, .link-as-button {
*/
.salesmeet-button {
    font-family: arial !important;
    font-size: 12px !important;
    line-height: 4px !important;
    letter-spacing: 1px !important;
    cursor: pointer !important;
    user-select: none !important;
    width: 100px !important;
    padding: 12px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: initial !important;
    border-radius: 2px !important;
    outline: none !important;
}
</style>
