html,body {
    padding:0;
    margin:0;
    height:100%;
}

hr {
    border-top: 1px solid #000;
}
.hr_separatore {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu {
    background: rgb(0, 149, 221);
    border-bottom: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.menu_mobile, .menu_mobile_icon {
    display: none;
}
.menu_link {
    background: #03A9F4;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}
.current a {
    color: black;
    /* text-decoration: underline; */
}
.logo {
    padding-left: 10px;
    float: left;
}
.logo img {
    max-width: 40px;
    max-height: 40px;
}
.voce_menu {
    padding-left: 21px;
    float: left;
    padding-top: 10px;
    font-size: 18px;
}
.voce_menu_right {
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}
.titolo_pagina {
    text-align: center;
    font-weight: bold;
}

.box_alert {
    width: 97%;
    float: none;
    padding: 5px;
    background: #f00;
    color: #fff;
    margin: 5px;
}
.box {
    width: 32%;
    float: left;
    padding: 5px;
}
.box_doppio {
    width: 64%;
    float: left;
    padding: 5px;
}
.box_page_rank {
    width: 48%;
    float: left;
    padding: 5px;
    text-align: center;;
}

.box_separatore {
    width: 1px;
    float: left;
    border-left: 1px solid #000;
    height: 100%;
    min-height: 300px;
}
.box_titolo {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 23px;
  background: #b5e6fa;
  padding-top: 5px;
}
.box_titolo img {
    max-height: 19px;
    padding-right: 10px;
    padding-left: 7px;
}
.contenitore {
    border: 1px solid #e1e1e1;
    padding: 5px;
    margin-bottom: 10px;
    overflow: auto;
}
.contenitore .titolo {
    float: left;
    font-weight: bold;
    padding-right: 11px;
}
.contenitore .valore {
    float: left;
}
.contenitore .separatore {
    clear:both;
    height: 8px;
}
.contenitore img {
    max-width: 200px;
    max-height: 200px;
}
.contenitore_icone {
    width: 12px;
    margin-left: 10px;
    margin-right: 10px;
}



@media screen and (max-width: 940px) {+
    .box {
        width: 48%;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .box_separatore {
        display: none;
    }
    .box_page_rank {
        width: 48%;
    }



    .menu {
        height: 34px;
    }
    .menu_mobile {
        position: absolute;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid;
        z-index: 9999999;
    }
    .menu_mobile_icon {
        display: block;
        float: right;
        padding-right: 10px;
        padding-top: 4px;
    }
    .voce_menu_mobile {
        padding: 10px;
        border-bottom: 1px solid #d1d1d1;
    }
    .voce_menu_mobile a {
        text-decoration: none;
        color: #000;
    }
    .voce_menu, .voce_menu_right {
      display: none;
    }

}

@media screen and (max-width: 600px) {
    .box {
        width: 100%;
        float: none;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
    }
    .box_doppio {
        width: 100%;
        float: none;
    }
    .box_page_rank {
        width: 100%;
        float: none;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
    }
}
