html,body {
    padding:0;
    margin:0;
    height:100%;
}
body {
    background-color: #ffffff;
    overflow: hidden;
}
a:link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
input[type="submit"]  {
  padding: 15px;
  background: #0f9dff;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 30px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
input[type="button"]  {
  padding: 15px;
  background: #0f9dff;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 30px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#div-left {
    height: 100%;
    float: left;
    width: 31%;
    background: #eaeaea;
}
#div-right {
    height: 100%;
    float: right;
    width: 68%;
    background: #fff;
}

#div-left-body {
    width: 94%;
    padding: 20px;
    border-right: 1px solid #a2a2a2;
    height: 95%;
}
#div-right-body {
    width: 96%;
    padding: 20px;
}

.menu_booking {
    position: absolute;
    bottom: 10px;
    right: 16px;
}

.separatore {
    width: 100%;
    clear: both;
    height: 1px;
    border-top: 1px solid #a2a2a2;
    margin-top: 20px;
    margin-bottom: 20px;
}
#titolo{
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}
#azienda-img {
    width: 30%;
    float: left;
}
#azienda-nome {
    width: 70%;
    float: left;
    text-align: center;
}

#prodotto {
    position: absolute;
    bottom: 10px;
    max-width: 340px;
    left: 10px;
}
#prodotto-img {
    width: 30%;
    float: left;
    padding-top: 10px;
    border-top: 1px solid #a2a2a2;
}
#prodotto-img img {
    padding-left: 10px;
    max-width: 50px !important;
    max-height: 50px !important;
}
#prodotto-titolo {
    width: 70%;
    float: left;
    padding-top: 10px;
    border-top: 1px solid #a2a2a2;
}

#esperto {
    padding-left: 20px;
}
#esperto-img {
    padding-top: 10px;
}
#esperto-titolo {
    padding-top: 10px;
}



.booking_title {
    text-align: left;
    padding-bottom: 10px;
    /* padding-left: 32px; */
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
    color: #fff;
}
.booking_online, .booking_in_store, .booking_to  {
    width: 300px;
    text-align: center;
    height: 200px;
    margin-left: 30px;
    border: 1px solid #a2a2a2;
    float: left;
    margin-bottom: 50px;
}
a.booking_a {
  color: #000;
  text-decoration: none;
}
.booking_a:visited {
  color: #000;
}

.booking_online_img, .booking_in_store_img, .booking_to_img {
    width: 100%;
    height: 153px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 10px;
}
.booking_online_img {
    background-image: url(https://booking.salesmeet.it/asset/img/001-online.png);
}
.booking_in_store_img {
    background-image: url(https://booking.salesmeet.it/asset/img/insurance-company.png);
}
.booking_to_img {
    background-image: url(https://booking.salesmeet.it/asset/img/005-house-outline.png);
}
.booking_online_img:hover, .booking_in_store_img:hover, .booking_to_img:hover {
  opacity: 1;
}


.operazione {
    font-weight: bold;
}
.operatore_procedi {
    border-top: 1px solid #a2a2a2;
    padding-top: 20px;
    margin-top: 20px;
}

table.dataTable, table.dataTable th, table.dataTable td {
    text-align: center !important;
}

.input_text {
    width: 250px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    height: 27px;
}
.input_textarea {
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    width:95%;
    height:50px;
}
.img_link {
    height: 14px;
    top: 2px;
    padding-left: 2px;
    position: relative;
}
.separatore_dati {
    width: 100%;
    height: 16px;
}

#titolo_appuntamento {
    text-align: center;
    padding-bottom: 10px;
}

#select_language {
      width: 100%;
      height: 100%;
      position: fixed;
      background: rgb(0 0 0 / 96%);
      background-color: #ffffff;
      z-index: 99999;
      color: #ffffff;
      color: #000000;
      text-align: center;
      padding-top: 100px;
      display: none;
      top: 0px;
}

#loading {
      width: 100%;
      height: 100%;
      text-align: center;
}


.close_all_page {
    display: none;
}
.mobile-display{
    display: none;
}
.logo_azienda{
    max-width: 150px; max-height: 150px;
}

.menu-close {
    display: none;
}

#mobile-back, #menu-close {
    display: none;
    text-align: right;
    position: fixed;
    right: 50px;
    top: 15px;
    padding: 3px 3px 1px 3px;
    background: #ffffff;
    border: 1px solid #000;
    z-index: 9999;
}
#close_salesmeet {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 3px 3px 1px 3px;
    background: #ffffff;
    border: 1px solid #000;
    z-index: 9999;
}
.alert_close_salesmeet {
      width: 100%;
      height: 100%;
      position: fixed;
      background: rgb(0 0 0 / 93%);
      z-index: 99999;
      color: #ffffff;
      text-align: center;
      padding-top: 100px;
      top: 0px;
      left: 0px;
}
.alert_close_salesmeet {
      display: none;
}


#close_salesmeet:hover, #mobile-back:hover, #menu-close:hover {
    background: #0f9dff;
}
#close_salesmeet a, #mobile-back a, #menu-close a {
    color: #000000;
}
#close_salesmeet a:hover, #mobile-back a:hover, #menu-close  a:hover {
    color: #ffffff;
}

@media only screen and (max-width: 940px) {

    body {
        overflow: auto;
    }
    #mobile-back, #menu-close {
        display: block;
    }
    .mobile-none{
        display: none;
    }
    .mobile-display{
        display: block;
    }
    .margine_div{
        margin-left: 20px;
        margin-right: 20px;
    }
    #close_salesmeet {
        top: 15px;
    }
    .logo_azienda{
        max-height: 30px;
    }
    .separatore_dati {
        height: 36px;
    }

    #div-left {
        height: auto;
        float: none;
        width: 100%;
    }
    #div-right {
        height: auto;
        float: none;
        width: 100%;
        overflow-x: auto;
    }
    #div-left-body {
        width: auto;
        border-right: 0px solid #a2a2a2;
    }
    #div-left-body {
        width: auto;
        border-right: 0px solid #a2a2a2;
    }
    #div-right-body {
        padding-left: 0px;
    }

    #prodotto {
        position: fixed;
        /* bottom: 10px; */
        top: 0px;
        max-width: none;
        left: 0px;
        background: #eaeaea;
        z-index: 99999;
        width: 100%;
        display: none;
        bottom: 0px;
    }
    #booking-dati {
        padding: 100px 30px;
    }
    #prodotto-img {
        display: none;
    }
    #prodotto-titolo {
        display: none;
    }
    .menu-close {
        display: block;
    }

    .booking_title {
        padding-left: 10px;
        display: none;
    }

    .invia{
      position: fixed;
      bottom: 3px;
      z-index: 9999;
      box-shadow: none;
      width: 100%;
      border-radius: 0px !important;
      left: 0px;
      height: 68px;
    }

    .operatore_procedi {
        display: none;
    }
    #footer-mobile{
        width: 100%;
        height: 150px;
    }

    .booking_online, .booking_in_store, .booking_to {
        width: 92%;
        margin-left: 3%;
    }

    .close_all_page {
        display: block;
        margin: 0 auto;
    }
    .close_all_page_bottom {
        position: fixed;
        bottom: 40px;
        left: 43%;
    }

    .alert_all_page {
          width: 100%;
          height: 100%;
          position: fixed;
          background: rgb(0 0 0 / 93%);
          z-index: 99999;
          color: #ffffff;
          text-align: center;
          padding-top: 100px;
          top: 0px;
          left: 0px;
    }


    /* fullcalendar */
    .fc .fc-toolbar-title {
        font-size: 19px !important;
    }
    button.fc-today-button.fc-button.fc-button-primary {
        display: none;
    }
    h2.fc-toolbar-title {
        display: none;
    }

    /* datatable */
    div#preferiti_length {
        display: none;
    }
    div#preferiti_info {
        display: none;
    }


}
