* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  body {
    padding: 0px;
  }

  #demo {
    width: 100%;
    height: 100%;
    visibility: hidden;
    margin: 0px auto 0;
  }


  .contenuto {
    padding: 20px;
  }
  .contenuto-titolo {
      font-weight: bold;
      padding-bottom: 30px;
  }
  .spazio {
      width: 100%;
      height: 1px;
      padding-bottom: 20px;
  }        
  a {
    text-decoration: none;
    color: #000;
 }
 a.button {
  border: 1px solid #000;
  padding: 5px;
 }
 a.button:hover {
  background-color: #000;
  color: #fff;
 } 

/* box */
.item-box {
    width: 50%;
    height: 110px;
    float:left;
}
.item-box .contenitore-box {
    border: 1px solid #ccc;
    height: 100px;
    margin: 5px;
    padding-top: 4px;
    /* overflow-x: scroll; */
}
.item-box .img {
    float: left;
    width: 30%;
    text-align: right;
}
.item-box .img img {
    max-width: 130px;
    max-height: 100px;
    padding-right: 10px;
}
.item-box .title {
    float: left;
    width: 70%;
}

/* riga */
.item {
    width: 100%;
    height: 65px;
}
.item .img {
    float: left;
    width: 10%;
    text-align: right;
}
.item .img img {
    max-width: 30px;
    max-height: 60px;
    padding-right: 10px;
}

.item .title {
    float: left;
    width: 70%;
}
.item .timestamp {
    float: left;
    width: 15%;
    text-align: right;
}


input[type="search"] {
    border: 1px solid #000;
    height: 25px;
}


@media (max-width: 760px) {

    .item-box {
        width: 100%;
        height: 136px;
        float: none;
    }
    .item-box .contenitore-box {
        height: 132px;
    }

}