
body { margin: 0; paddin-top:50px;}

.clearfix { clear: both; }

nav {
  border-bottom: 1px solid #222;
  position: fixed;
  width: 100%;
  background: #fff;  
  z-index: 999999;
}
nav ul {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  list-style-type: none;
}
nav ul li { 
    display: inline-block; 
    height: 35px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
}

nav ul li a:hover { color: #666; }

.current_page { border-left: 1px solid black;  border-right: 1px solid black; }

.current_page a { color: white; }

#menu_button_wrapper { display: none; }

.hidden { display: none; }

/* Responsive for smaller screens */

@media (max-width: 760px) {

        #menu_button_wrapper {
            display: block;
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
            box-shadow: 0 1px 0 rgba(255,255,255,.1);
            padding-bottom: 0px;
            padding-top: 6px;
            display: block;
            margin-bottom: 5px;
        }

        #menu_button {
            box-sizing: border-box;
            float: left;
            padding: 3px;
            /* 
            border: 1px solid #333;
            border-radius: 5px;
            */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #menu_button:hover {
            cursor: pointer;
            background-color: #333;
        }

        #hamburger {
            float: right;
            padding-top: .15em;
        }

        #menu_button span {
            display: block;
            background-color: #000;
            width: 1.2em;
            height: .15em;
            border-radius: 1px;
            margin-bottom: .2em;
        }

        nav ul {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }

        nav ul li { display: block; }

        nav ul li a { width: 100%; }

        .current_page { border-top: 1px solid black; border-bottom: 1px solid black; border-left: 0px solid black;  border-right: 0px solid black; }

}